<% @products.each do |product| %>
  <%= link_to product.name, members_product_path(product.id) %>
<% end %>

<br>
<br>
<br>

<p>カテゴリー一覧</p>
<% @categorys.each do |category| %>
  <%= category.name %>/
    <% category.products.each do |category_product| %>
      <%= link_to category_product.name, members_product_path(category_product.id) %>
    <% end %>
  <br>
<% end %>