<% if notice %>
  <div class="alert alert-success" role="alert">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger" role="alert">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>
