members/profiles/edit.html.erb
<%= form_with model: current_member, url: members_profiles_path, local:true, method: :patch do |f| %>
 <div class="form-group">
<%= f.label :nickname, 'ニックネーム' %>
<%= f.text_field :nickname, class: 'form-control' %>
</div>


<div class="al-c"><%= f.submit 'プロフィール編集を完了する', class: 'btn btn-primary' %></div>
<% end %>

